


/* 
#main-container {
  display: flex;
  justify-content: center; 
  align-items: center;
}
#login-form {
  margin-top: 15%;
  width: 300px;
  padding: 20px;
  background-color: aqua;
  text-align: center;
}

#login-form button{
  width:60%;
  background-color: green;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}
#login-form button:hover{
  background-color: white;
  color: green;
}

.valid{
  color: green;
  font-size: 12px;
}

.invalid{
  color: red;
  font-size: 12px;
} */