<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col order-2">
      <div class="p-3 mx-auto" style="width: 400px; height: 500px; margin-top: 3rem;">
        <h1><strong>Welcome back</strong></h1>
        <small class="text-body-secondary">Please enter your details</small>
        <form [formGroup]="user" (ngSubmit)="onSubmit()">

          <div class="mt-3">
            <label class="form-label">Email address</label>
            <input type="text" class="form-control" formControlName="email" placeholder="Enter Email">

            <span class="text-danger" *ngIf="submitted && email?.errors?.['required']">
              Email is required
            </span>
            <span class="text-danger" *ngIf="submitted && email?.errors?.['pattern']">
              Enter a valid email address.
            </span>
          </div>

          <div class="mt-3">
            <label class="form-label">Password</label>

            <div class="input-group">
              <input [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="password"
                placeholder="Enter password">

              <span class="input-group-text" (click)="togglePassword()" style="cursor:pointer;">
                <i class="fa-solid" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
              </span>
            </div>


            <span class="text-danger" *ngIf="submitted && password?.errors?.['required']">
              Password is required
            </span>
            <span class="text-danger" *ngIf="submitted && password?.errors?.['pattern']">
              Password must include uppercase, lowercase, number, and special character (8–15 chars)
            </span>
          </div>


          <div class="check d-flex justify-content-between mt-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="checkDefault" formControlName="rememberMe">
              <label class="form-check-label" for="checkDefault">
                Remember for 30 days
              </label>
            </div>

            <div>
              <a href="">Forget Password</a>
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100 mt-3">Sign in</button>
          <button class="btn w-100 mt-3 active" type="submit">Sign in with Google</button>
        </form>
        <div class="text-center text-body-secondary mt-3"> Don't have an account? <a href=""> Sign up</a></div>
      </div>
    </div>
    <div class="col order-1">
<img src="assets/images/20943394.jpg" style="width: 600px; height:550px">


    </div>
  </div>

</div>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="main-container">
  <div id="login-form">
    <form (ngSubmit)="onSubmit()">
      <div class="form-control">
       <label for="txtusername" class="form-label"></label>
      <input type="text" id="txtusername" class="form-control" placeholder="Username" name="username" [(ngModel)]="username" (blur)="validateUsername()">
      <br>
      <span [ngClass]="{'valid': isUsernameValid, 'invalid': !isUsernameValid}">{{usernameMessage}}</span>
        </div>
        <br>
        <div class="form-control">
      <label for="txtpassword" class="form-label"></label>
      <input type="password" id="txtpassword" class="form-control" placeholder="Password" [(ngModel)]="password" name="password" (blur)="validatePassword()">
      <br>
      <span [ngClass]="{'valid' : isPasswordValid, 'invalid': !isPasswordValid}">{{passwordMessage}}</span>
      </div>
      <br> 
      <button type="submit">LOGIN</button>
    </form>
    <br>
    Not Register? <a href=""> Create an account</a>
  </div>
</div>
</body>
</html> -->